body {
  background-color: pink;
}
/* div {
  border: 2px blue solid;
  width: 100px;
  height: 100px;
} */
#gameboardDiv {
  display: flex;
  flex-direction: column;
}
#gameboardRow0 {
  display: flex;
  flex-direction: row;
}
/* #gameboard["0"]["0"] {
  display: flex;
  flex-direction: row;
  ju
} */
p {
  margin: 0;
}
